/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --nav-bar-home-margin-right: 7.5rem;
    --nav-bar-burger-margin-left: 3.5rem;
    --nav-bar-links-margin-left:10rem;
    --spacing-1rem: 1rem;
}

html {
    scroll-behavior: smooth;
}

h2 {
    margin: var(--spacing-1rem) 0;
}

#contactEmail {
	color: #6096BA;
	opacity: 70%;
	margin: auto;
	padding: 0 0 1rem 0;
}

#contactEmail:hover {
    opacity: 100%;
}


/* Keyframes and Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        /* transform: translateY(20px); */
    }
    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

.fade-in {
    opacity: 100;
    animation: fadeIn 2s ease forwards;
}

.fade-in :nth-child(1) {
    animation-delay: 0.3s;
}

.fade-in :nth-child(2) {
    animation-delay: 0.6s;
}

.fade-in :nth-child(3) {
    animation-delay: 0.9s;
}

.fade-in :nth-child(4) {
    animation-delay: 1.2s;
}

.fade-in :nth-child(5) {
    animation-delay: 1.5s;
}

.fade-in :nth-child(6) {
    animation-delay: 1.9s;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* display: grid; */
}

a {
    text-decoration: none;
    color: black;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #A3CEF1
}
.navbar {
    top: 0;
    position: relative;
    width: 100%;

}
/* NAV BAR CONTAINER */
/* .nav-bar-container {
    display: grid;
    row-gap: 40px;
    column-gap: 0;
    background-color: rgb(156, 139, 120);


} */
/* NAV BAR HOME */

.nav-bar-home {
    list-style-type: none;
    overflow: visible;
    /* margin-right: 10rem; */
    /* margin-right: var(--nav-bar-home-margin-right); */
    display: flex;
    padding: 1rem;
    margin: 0.5rem 1.5rem .5rem auto;
}

.nav-bar-home li a {
    font-weight: bold;
    text-transform: uppercase;
}

/* NAV BAR PAGES */

.nav-bar-pages {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    column-gap: 40px;
}

.nav-bar-pages li {
    padding: .5rem
}

.nav-bar-pages li a {
    font-weight: bold;
    text-transform: uppercase;
}

.nav-bar-pages li a:hover{
    opacity: 70%;
    cursor: pointer;
}

.nav-bar-pages-list-item {
    width: min-content;
    white-space: nowrap;
}

.nav-bar-pages.show {
    grid-auto-flow: row;
    row-gap: 10px;
    column-gap: 0;
    justify-content: center;
}

/* NAV BAR PAGES BURGER */

/* .nav-bar-pages-burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    margin-left: var(--nav-bar-burger-margin-left);
    padding: 1rem;
} */

.nav-bar-pages-burger .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.3 ease;
}

.nav-bar-pages-burger .active {
    flex-direction: row-reverse;
}

.nav-bar-pages-burger.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.nav-bar-pages-burger .bar:nth-child(2) {
    opacity: 0;
}

.nav-bar-pages-burger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}
/* Footer */
footer {
    text-align: center;
    padding: auto;
}

.footer-text {
    text-indent: 0;
}
/* Media Queries */
@media screen and (max-width:800px) {
    .nav-bar-home {
        --nav-bar-home-margin-right: 8rem;
    }
    .header {
        flex-direction: column;
    }

    .mobileHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav-bar-pages-burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
        /* margin-left: var(--nav-bar-burger-margin-left); */
        padding: 1rem;
        margin: auto 0;
    }

    .navbar {
        display: none;
    }
    

}

@media screen and (max-width:600px) {
    .nav-bar-home {
        --nav-bar-home-margin-right: 5rem;
    }
}

@media screen and (max-width:400px) {
    .nav-bar-home {
        --nav-bar-home-margin-right: 2rem;
    }
    .nav-bar-pages-burger {
        --nav-bar-burger-margin-left: 2.5rem;
    }
}

@media screen and (min-width:801px) {

    .nav-bar-pages-burger {
        display: none;
    }

    .mobileHeader {
        display: none;
    }

    .navbar {
        display: flex !important;
    }

    /* .nav-bar-pages {
        display: flex;
    } */
}

